<div class="col-12 about bg" id="about">
	<div class="row justify-content-center">
		<div class="col-12">
			<p class="t-1">Наша команда</p>
		</div>
		<div class="col-12 col-md-8">
			<div class="row">
				<div class="col-12 block">
					<div class="row">
						<div class="col-12 col-md-5">
							<div class="photo"></div>
						</div>
						<div class="col-12 offset-1 col-md-5">
							<p class="t-2">Иванов Иван Иванович</p>
							<p class="t-3">
								<%= "Пример текста. " * 100 %>
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 block">
					<div class="row">
						<div class="col-12 col-md-5">
							<div class="photo"></div>
						</div>
						<div class="col-12 offset-1 col-md-5">
							<p class="t-2">Петров Петр Петрович</p>
							<p class="t-3">
								<%= "Пример текста. " * 100 %>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>