<div class="col-12 font t-1">Оставьте заявку и адвокат свяжется с Вами</div>
<div class="col-12">
	<form accept-charset="UTF-8" action="/call" data-remote="true" class="form-group row justify-content-center">
		<label for="name-input-2" class="sr-only">Имя: </label>
		<input type="name" class="col-xl-2 col-md-3 col-sm-4 col-12 form-control" id="name-input-2" placeholder="Имя"  name="client_name" required="required">
		<label for="tel-input-2" class="sr-only">Телефон: </label>
		<input type="tel" class="col-xl-2 col-md-3 col-sm-4 col-12 form-control" id="tel-input-2" placeholder="Телефон" name="client_phone" required="required" pattern="^+7(\d{3})\d{3}-\d{2}-\d{2}$">
		<input type="submit" class="btn btn-success col-xl-2 col-md-3 col-sm-4 col-12" name="commit" value="Отправить заявку">
	</form>
</div>