<div class="col-12 call-form font">
	<div class="row">		
		<div class="offset-1 col-10 call-form-text">
			Оставьте заявку и адвокат свяжется с Вами
		</div>
		<form accept-charset="UTF-8" action="/call" class="form-group row" data-remote="true">
			<label for="name-input-1" class="offset-1 col-3 col-form-label">Имя:</label>
			<input type="name" class="col-7 form-control form-bg" id="name-input-1" name="client_name" required="required">
			<label for="tel-input-1" class="offset-1 col-3 col-form-label">Телефон:</label>
			<input type="tel" class="col-7 form-control form-bg" id="tel-input-1" name="client_phone" required="required">
			<input type="submit" class="offset-4 col-7 btn btn-outline-success call-form-btn" name="commit" value="Отправить заявку">
		</form>
	</div>
</div>