<div class="col-12 contacts bg" id="contacts">
	<div class="row bg">
		<div id="call-form-2" class="col-12">
			<div class="row">
				<%= render 'shared/call_form_2' %>
			</div>
		</div>
		<div class="card card-inverse offset-lg-4 col-lg-4 offset-md-3 col-md-6 offset-sm-2 col-sm-8 col-12" style="background-color: rgba(0,0,0,0.6); box-shadow: 0 0 20px rgba(0,0,0,0.7);">
			<div class="card-header" style="border-color: #fff;">
				Наш адрес:
			</div>
			<div class="card-block">
				<blockquote class="card-blockquote">
					<p>Ул. Красноармейская, д. 16</p>
					<footer>Часы работы:<cite title="Часы работы"> пн-пт 9-18</cite></footer>
				</blockquote>
			</div>
		</div>
		<div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-12">
			<div class="row">
				<div class="col-12 map" id="map"></div>
			</div>
		</div>
		<!-- Footer -->
		<%= render 'shared/footer' %>
		<!-- End -->
	</div>
</div>