<div class="col-12 contacts bg" id="contacts">
	<div class="row row-bg">
		<div class="col-12 t1">Оставьте заявку и адвокат свяжется с Вами</div>
		<div class="col-12">
			<div class="form-group row justify-content-center">
				<label for="name-input-2" class="sr-only">Имя: </label>
				<input type="name" class="col-xl-2 col-md-3 col-sm-4 col-12 form-control" id="name-input-2" placeholder="Имя">
				<label for="tel-input-2" class="sr-only">Телефон: </label>
				<input type="tel" class="col-xl-2 col-md-3 col-sm-4 col-12 form-control" id="tel-input-2" placeholder="Телефон">
				<button type="submit" class="btn btn-success col-xl-2 col-md-3 col-sm-4 col-12">Отправить заявку</button>
			</div>
		</div>
		<div class="card card-inverse offset-lg-4 col-lg-4 offset-md-3 col-md-6 offset-sm-2 col-sm-8 col-12" style="background-color: rgba(0,0,0,0.6); box-shadow: 0 0 20px rgba(0,0,0,0.7);">
			<div class="card-header" style="border-color: #fff;">
				Наш адрес:
			</div>
			<div class="card-block">
				<blockquote class="card-blockquote">
					<p>Ул. Красноармейская, д. 16</p>
					<footer>Часы работы:<cite title="Часы работы"> пн-пт 9-18</cite></footer>
				</blockquote>
			</div>
		</div>
		<div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-12 map">
			<div class="row">
				<div class="col-12" id="map"></div>
			</div>
		</div>
		<!-- Footer -->
		<%= render 'shared/footer' %>
		<!-- End -->
	</div>
</div>