<div class="col-12 direct bg">
	<div class="row justify-content-center">
		<div class="col-12">
			<p class="t-1">Направления нашей деятельности</p>
		</div>
		<div class="col-10">
			<div class="row">
				<div class="col-6">
					<div class="row">
						<div class="col-2 i">
							<i class="fa fa-paperclip fa-3x"></i>
						</div>
						<div class="col-10">
							<p class="t-2">Уголовные дела</p>
							<p class="t-3">Защита в ходе доследственной проверки. Защита подозреваемых, обвиняемых по уголовному делу на стадии дознания, предварительного следствия. Защита в суде. Представление интересов потерпевших и свидетелей по уголовному делу.</p>
						</div>
						<div class="col-2 i">
							<i class="fa fa-paperclip fa-3x"></i>
						</div>
						<div class="col-10">
							<p class="t-2">Семейные и наследственные споры</p>
							<p class="t-3">Расторжение брака. Раздел имущества супругов. Споры об определении места жительства детей. Алименты. Лишение родительских прав. Восстановление родительских прав. Споры по долям в наследстве. Раздел наследственного имущества. Споры о признании недействительным завещания, свидетельства о праве на наследство и т.д.</p>
						</div>
						<div class="col-2 i">
							<i class="fa fa-paperclip fa-3x"></i>
						</div>
						<div class="col-10">
							<p class="t-2">Страховые споры</p>
							<p class="t-3">Споры со страховыми компаниями. Взыскание страхового возмещения (ОСАГО, КАСКО). Взыскание утраты товарной стоимости, штрафов, процентов за пользование чужими денежными средствами и т.д.</p>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="row">
						<div class="col-2 i">
							<i class="fa fa-paperclip fa-3x"></i>
						</div>
						<div class="col-10">
							<p class="t-2">Арбитражные дела</p>
							<p class="t-3">Представление интересов в арбитражных судах. Споры с контрагентами, предприятиями. Споры с муниципальными и государственными органами. Обжалование действий государственных органов и т.д.</p>
						</div>
						<div class="col-2 i">
							<i class="fa fa-paperclip fa-3x"></i>
						</div>
						<div class="col-10">
							<p class="t-2">Жилищные и земельные споры</p>
							<p class="t-3">Квартирные споры. Вселение и выселение. Снятие с регистрационного учета. Признание права пользования. Определение порядка пользования. Долевое строительство. Протечки, затопления, возмещение ущерба. Признание права на земельный участок. Определение порядка пользования земельным участком и т.д.</p>
						</div>
						<div class="col-2 i">
							<i class="fa fa-paperclip fa-3x"></i>
						</div>
						<div class="col-10">
							<p class="t-2">Права потребителей</p>
							<p class="t-3">Взыскание денежных средств за некачественный товар или услугу. Медицинские споры. Взыскание штрафов, морального вреда и т.д.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>