<div class="col-12 footer">
	<div class="row">
		<div class="col-md-4 col-12">
			<p class="t2">Телефон: 8(800)555-35-35</p>
		</div>
		<div class="col-md-4 col-12">
			<p class="t2">E-mail: la-bla-bla@mail.ru</p>
		</div>
		<div class="col-md-4 col-12">
			<a href="#" data-toggle="modal" data-target="#modal"><p class="t2 t3">Политика конфиденциальности</p></a>
		</div>

		<!-- Modal -->
		<%= render 'shared/modal' %>
		<!-- End -->
	</div>
</div>