<div class="col-12 promo bg">
	<div class="row bg justify-content-center">
		<div class="col-xl-6 col-12 promo-text">
			<p class="font t-1">Адвокат в Орле</p>
			<p class="font t-2">8 (800) 555-35-35</p>
			<p class="font t-3">Легче позвонить, чем у когото занимать</p>
		</div>
		<div class="col-xl-4 col-lg-5 col-md-6 col-sm-10" id="call-form-1">
			<%= render 'shared/call_form_1' %>
		</div>
	</div>
</div>