<div class="col-12 promo bg">
	<div class="row bg justify-content-center">
		<div class="col-xl-6 col-lg-7 col-md-9 promo-text">
			<p class="font t-1">Адвокат в Орле</p>
			<p class="font t-2">8 (800) 555-35-35</p>
			<p class="font t-3">Легче позвонить, чем у когото занимать</p>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-7 call-form font">
			<div class="row">
				<div class="offset-1 col-10 call-form-text">
					Оставьте заявку и адвокат свяжется с Вами
				</div>
			</div>
			<div class="form-group row">
				<label for="name-input-1" class="offset-1 col-3 col-form-label">Имя:</label>
				<div class="col-7">
					<input type="name" class="form-control form-bg" id="name-input-1">
				</div>
			</div>
			<div class="form-group row">
				<label for="tel-input-1" class="offset-1 col-3 col-form-label">Телефон:</label>
				<div class="col-7">
					<input type="tel" class="form-control form-bg" id="tel-input-1">
				</div>
			</div>
			<div class="row">
				<button type="submit" class="offset-2 col-8 btn btn-outline-success call-form-btn">Отправить заявку</button>
			</div>
		</div>
	</div>
</div>