/* Promo */
.promo {
	height: 610px;
}

.promo-text {
	.t-1 {
		font-size: 3.8rem;
	}
	.t-2 {
		font-size: 2rem;
	}
	.t-3 {
		font-size: 1rem;
	}
}

.call-form {
	margin-top: 25px;
	margin-bottom: 25px;
}

.call-form-text {
	font-size: 1.6rem;
}

/* Services */
.direct {
	height: 450px;
}

.work {
	height: 450px;
	.t-1 {
		margin-top: 25px;
		font-size: 2.3rem;
	}
	.step {
		margin-top: 25px;
		.text {
			margin-top: 25px;
			font-size: 1.4rem;
		}
	}
}

/* About us */
		
/* Certificates */
.cert-img {
	height: 600px;
}
		
/* Practice */
		
/* Contacts */
.contacts {
	.t-1 {
		font-size: 2.3rem;
	}
}

.footer {
	height: 50px;
}