@import "bootstrap";

/* Navbar */
.nav-end {
	justify-content: flex-end;
}

/* Content */
.content-marg {
	margin-top: 56px;
}

/* Promo */
.promo.bg {
	background-image: url('lawyer-promo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 15%;
}

.promo-text {
	text-align: center;
	color: white;
	font-family: 'Comfortaa', 'Roboto', sans-serif;
	.t1 {
		font-weight: 700;
		font-size: 56px;
	}
	.t2 {
		font-size: 32px;
	}
	.t3 {
		font-weight: 300;
		font-size: 20px;
	}
}

.row-bg {
	background-color: rgba(0,0,0,0.3);
}

.call-form {
	background-color: rgba(0,0,0,0.6);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.8);
	color: white;
	font-family: 'Comfortaa', 'Roboto', sans-serif;
}

.call-form-text {
	margin-top: 25px;
	margin-bottom: 50px;
	font-size: 20px;
	text-align: center;
}

.call-form-btn {
	margin-top: 15px;
}

#name-input {
	background-color: rgba(256,256,256,0.5);
}

#tel-input {
	background-color: rgba(256,256,256,0.5);
}

/* Services */
.work.bg {
	background-color: white;
}

.direct.bg {
	background-image: url('lawyer-direct.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
}

.direct {
	text-align: center;
	color: white;
	padding-top: 10px;
	.t1 {
		font-size: 36px;
		font-family: 'Comfortaa', 'Roboto', sans-serif;
	}
	.step {
		.icon {
			width: 100px;
			height: 100px;
			background-color: #009688;
			border-radius: 500px;
		}
		.text {
			
		}
	}
}

/* About us */
.about {
	height: 600px;
}

.about.bg {
	background-color: white;
}

/* Certificates */
.cert {
	height: 700px;
}		

.cert.bg {
	background-color: yellow;
}

/* Practice */
.practice {
	height: 500px;
}		

.practice.bg {
	background-color: white;
}

/* Contacts */
.contacts {
	height: 600px;
}

.contacts.bg {
	background-color: green;
}

/* Breakpoint */		
@include media-breakpoint-down(sm) {
	/* Promo */
	.promo {
		height: 750px;
	}

	.call-form {
		height: 350px;
		margin-bottom: 25px;
	}

	.promo-text {
		margin-top: 75px;
		height: 225px;
		margin-bottom: 75px;
		.t1 {
			margin: 0;
		}
		.t2 {
			margin: 0;
		}
		.t3 {
			margin: 0;
		}
	}

	/* Services */

	/* About us */
		
	/* Certificates */
		
	/* Practice */
		
	/* Contacts */
}


@include media-breakpoint-only(md) {
	/* Promo */
	.promo {
		height: 585px;
	}

	.call-form {
		margin-top: 10px;
		height: 350px;
		margin-bottom: 14px;
	}

	/* Services */

	/* About us */
		
	/* Certificates */
		
	/* Practice */
		
	/* Contacts */
}

@include media-breakpoint-only(lg) {
	/* Promo */
	.promo {
		height: 610px;
	}

	.call-form {
		margin-top: 25px;
		height: 350px;
		margin-bottom: 25px;
	}

	/* Services */
	.services {
		height: 900px;
	}

	.work {
		height: 450px;
	}

	.direct {
		height: 450px;
	}

	/* About us */
		
	/* Certificates */
		
	/* Practice */
		
	/* Contacts */
}

@include media-breakpoint-only(xl) {	
	/* Promo */
	.promo {
		height: 700px;
	}

	.call-form {
		margin-top: 175px;
		height: 350px;
		margin-bottom: 175px;
	}

	.promo-text {
		margin-top: 150px;
		height: 400px;
	}

	/* Services */
	.services {
		height: 1300px;
	}

	.work {
		height: 650px;
	}

	.direct {
		height: 650px;
	}
	
	/* About us */
		
	/* Certificates */
		
	/* Practice */
		
	/* Contacts */
}