@import "bootstrap";

.promo.bg {
	background-image: url('lawyer-promo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 15%;
}

.row.bg {
	background-color: rgba(0,0,0,0.3);
}

.call-form {
	background-color: rgba(0,0,0,0.6);
	box-shadow: 0px 0px 20px 0px black;

}

@include media-breakpoint-only(xs) {
	.promo {
		height: 300px;
	}

	.call-form {
		height: 300px;
	}
}

@include media-breakpoint-only(sm) {
	.promo {
		height: 400px;
	}

	.call-form {
		margin-top: 50px;
		height: 300px;
		margin-bottom: 50px;
	}
}

@include media-breakpoint-only(md) {
	.promo {
		height: 500px;
	}

	.call-form {
		margin-top: 75px;
		height: 350px;
		margin-bottom: 75px;
	}
}

@include media-breakpoint-only(lg) {
	.promo {
		height: 600px;
	}

	.call-form {
		margin-top: 100px;
		height: 400px;
		margin-bottom: 100px;
	}
}

@include media-breakpoint-only(xl) {	
	.promo {
		height: 700px;
	}

	.call-form {
		margin-top: 150px;
		height: 400px;
		margin-bottom: 150px;
	}
}