@import "bootstrap";

/* Navbar */
.nav-end {
	justify-content: flex-end;
}

/* Content */
.content-marg {
	margin-top: 56px;
}

/* Promo */
.promo.bg {
	background-image: url('lawyer-promo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 15%;
}

.promo-text {
	text-align: center;
	color: white;
	font-family: 'Comfortaa', 'Roboto', sans-serif;
	.t1 {
		font-weight: 700;
	}
	.t3 {
		font-weight: 300;
	}
}

.row-bg {
	background-color: rgba(0,0,0,0.3);
}

.call-form {
	background-color: rgba(0,0,0,0.6);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.8);
	color: white;
	font-family: 'Comfortaa', 'Roboto', sans-serif;
}

.call-form-text {
	margin-top: 25px;
	margin-bottom: 50px;
	text-align: center;
}

.call-form-btn {
	margin-top: 15px;
}

#name-input-1 {
	background-color: rgba(256,256,256,0.5);
}

#tel-input-1 {
	background-color: rgba(256,256,256,0.5);
}

/* Services */
.work.bg {
	background-color: white;
}

.direct.bg {
	background-image: url('lawyer-direct.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
}

.direct {
	text-align: center;
	color: white;
	padding-top: 10px;
	.t1 {
		font-family: 'Comfortaa', 'Roboto', sans-serif;
	}
	.step {
		.icon {
			text-shadow: 0 0 15px silver;		
		}
		.text {
			
		}
	}
}

/* About us */
.about {
	height: 600px;
}

.about.bg {
	background-color: white;
}

/* Certificates */
.cert {
	padding: 2px 0;
}		

.cert.bg {
	background-color: rgba(51,51,51,0.8);
}

.cert-img {
	background-color: black;
	box-shadow: 0 0 20px black;
}

.carousel-item.active {
	justify-content: center;
}

/* Practice */
.practice {
	height: 500px;
}		

.practice.bg {
	background-color: white;
}

/* Contacts */
.contacts {
	.t1 {
		text-align: center;
		color: white;
		font-family: 'Comfortaa', 'Roboto', sans-serif;
	}
	.card {
		padding: 0;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

.contacts.bg {
	background-image: url('lawyer-slider.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#map {
	padding: 0;
}

.footer {
	height: 65px;
}


/* Breakpoint */
@include media-breakpoint-only(xs) {
	/* Promo */
	.promo {
		height: 750px;
	}

	.call-form {
		height: 350px;
		margin-bottom: 25px;
	}

	.call-form-text {
		font-size: 1.4rem;
	}

	.promo-text {
		margin-top: 75px;
		height: 225px;
		margin-bottom: 75px;
		.t1 {
			margin: 0;
			font-size: 4rem;
		}
		.t2 {
			font-size: 2rem;
			margin: 0;
		}
		.t3 {
			font-size: 1rem;
			margin: 0;
		}
	}

	/* Services */
	.services {
		height: 900px;
	}

	.work {
		height: 350px;
	}

	.direct {
		height: 550px;
		.t1 {
			margin-top: 15px;
			font-size: 2rem;
		}
		.step {
			height: 80px;
			margin-top: 10px;
		}
		.text {
			font-size: 1rem;
		}
	}

	/* About us */
		
	/* Certificates */
	.cert-img {
		height: 400px;
	}
	
	/* Practice */
		
	/* Contacts */
	.contacts {
		.t1 {
			margin-top: 15px;
			margin-bottom: 10px;
			font-size: 1.2rem;
		}
	}
}	

@include media-breakpoint-only(sm) {
	/* Promo */
	.promo {
		height: 750px;
	}

	.call-form {
		height: 350px;
		margin-bottom: 25px;
	}

	.call-form-text {
		font-size: 1.4rem;
	}

	.promo-text {
		margin-top: 75px;
		height: 225px;
		margin-bottom: 75px;
		.t1 {
			margin: 0;
			font-size: 4rem;
		}
		.t2 {
			font-size: 2rem;
			margin: 0;
		}
		.t3 {
			font-size: 1rem;
			margin: 0;
		}
	}

	/* Services */
	.services {
		height: 900px;
	}

	.work {
		height: 350px;
	}

	.direct {
		height: 550px;
		.t1 {
			margin-top: 15px;
			font-size: 2rem;
		}
		.step {
			height: 80px;
			margin-top: 10px;
		}
		.text {
			font-size: 1rem;
		}
	}

	/* About us */
		
	/* Certificates */
	.cert-img {
		height: 500px;
	}
	
	/* Practice */
		
	/* Contacts */
	.contacts {
		.t1 {
			margin-top: 15px;
			margin-bottom: 10px;
			font-size: 1.3rem;
		}
	}
}


@include media-breakpoint-only(md) {
	/* Promo */
	.promo {
		height: 585px;
	}

	.promo-text {
		.t1 {
			font-size: 3.8rem;
		}
		.t2 {
			font-size: 2rem;
		}
		.t3 {
			font-size: 1rem;
		}
	}

	.call-form {
		margin-top: 10px;
		height: 350px;
		margin-bottom: 14px;
	}

	.call-form-text {
		font-size: 1.4rem;
	}

	/* Services */
	.services {
		height: 900px;
	}

	.work {
		height: 450px;
	}

	.direct {
		height: 450px;
		.t1 {
			margin-top: 25px;
			font-size: 1.7rem;
		}
		.step {
			margin-top: 25px;
			.text {
				margin-top: 25px;
				font-size: 1.2rem;
			}
		}
	}

	/* About us */
		
	/* Certificates */
	.cert-img {
		height: 600px;
	}
		
	/* Practice */
		
	/* Contacts */
	.contacts {
		.t1 {
			margin-top: 15px;
			margin-bottom: 10px;
			font-size: 1.7rem;
		}
	}
}

@include media-breakpoint-only(lg) {
	/* Promo */
	.promo {
		height: 610px;
	}

	.promo-text {
		.t1 {
			font-size: 3.8rem;
		}
		.t2 {
			font-size: 2rem;
		}
		.t3 {
			font-size: 1rem;
		}
	}

	.call-form {
		margin-top: 25px;
		height: 350px;
		margin-bottom: 25px;
	}

	.call-form-text {
		font-size: 1.6rem;
	}

	/* Services */
	.services {
		height: 900px;
	}

	.work {
		height: 450px;
	}

	.direct {
		height: 450px;
		.t1 {
			margin-top: 25px;
			font-size: 2.3rem;
		}
		.step {
			margin-top: 25px;
			.text {
				margin-top: 25px;
				font-size: 1.4rem;
			}
		}
	}

	/* About us */
		
	/* Certificates */
	.cert-img {
		height: 700px;
	}
		
	/* Practice */
		
	/* Contacts */
	.contacts {
		.t1 {
			margin-top: 25px;
			font-size: 2.3rem;
		}
	}

}

@include media-breakpoint-only(xl) {	
	/* Promo */
	.promo {
		height: 700px;
	}

	.call-form {
		margin-top: 175px;
		height: 350px;
		margin-bottom: 175px;
	}

	.call-form-text {
		font-size: 1.3rem;
	}

	.promo-text {
		margin-top: 150px;
		height: 400px;
		.t1 {
			font-size: 4rem;
		}
		.t2 {
			font-size: 2.5rem;
		}
		.t3 {
			font-size: 1.2rem;
		}
	}

	/* Services */
	.services {
		height: 1300px;
	}

	.work {
		height: 650px;
	}

	.direct {
		height: 650px;
		.t1 {
			margin-top: 50px;
			font-size: 2.8rem;
		}
		.step {
			margin-top: 50px;
			.text {
				margin-top: 50px;
				font-size: 1.6rem;
			}
		}
	}
	
	/* About us */
		
	/* Certificates */
	.cert-img {
		height: 750px;
	}

	/* Practice */
		
	/* Contacts */
	.contacts {
		.t1 {
			margin-top: 25px;
			font-size: 2.8rem;
		}
	}
}