<!DOCTYPE html>
<html>
  <head>
    <title>Адвокаты в Орле</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:title" content="Адвокаты в Орле">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Орловская облостная коллегия адвокатов">
    <meta property="og:url" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
