<!DOCTYPE html>
<html>
  <head>
    <title>Адвокаты в Орле</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:title" content="Адвокаты в Орле">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Орловская облостная коллегия адвокатов">
    <meta property="og:url" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=jMNDeaRaR-ZidPLRGXijG4Eq3Pe3w7m8&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true&amp;id=map"></script> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
